canvas {
    background-color: #f1f1f1;
    transform: scale(0.9);
}

body {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#title {
    float: right;
    font-size: 6.5em;
    margin: 0px;
    margin-right: 300px;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

#title h3 {
    padding-bottom: 40px;
    margin-bottom: 50px;
    color: green;
}

#title p {
    font-family: 'Fruktur', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 0;
    color: green;
}

#info {
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    color: green;
}

/* font-family: 'Bungee Shade', cursive;
font-family: 'Fruktur', cursive;
font-family: 'Black Ops One', cursive; */